 {{#each auto}}
<li class="item">
    <img src="{{photo}}" alt="" class="img">
    <h2> Модель: {{model}}</h2>
    <p> Ціна: {{cost}}</p>
    <p> Рік випуску:{{year}}</p>
    <p> Двигун: {{engine}}</p>
    <p>Тип пального:{{fuelTipe}}</p>
    <p> Рейтинг:{{rating}}</p>
    <p> Опис: {{details}}</p>
</li>
{{/each}}